<template>
  <div>
    <div class="feature2-component mini-spacer bg-extra-light">
      <v-container>
        <!-- -----------------------------------------------
            Start Feature 2 Text
        ----------------------------------------------- -->
        <v-row justify="center">
          <v-col cols="12" md="10" lg="7">
            <div class="text-center">
              <h2 class="section-title font-weight-medium">
               OUR SERVICES
              </h2>
              <p>
                Our goal is to represent Africa’s best talents, using our networks, skills, and experiences to negotiate playing contracts for the best clubs and leagues in the world and also provide pre and post-career mentorship. 
              </p>
            </div>
          </v-col>
        </v-row>

        <!-- -----------------------------------------------
            End Feature 2 Text
        ----------------------------------------------- -->
        <!-- -----------------------------------------------
            Start Feature 2
        ----------------------------------------------- -->
        <v-row justify="center" class="feature2-spacer">
          <v-col cols="12" lg="6" class="mb-15">
            <v-card elevation="0">
              <v-row>
                
                <v-col cols="12" md="8" class="py-0">
                  <v-card-text>
                    <div class="d-flex align-center">
                      <v-row>
                        <v-col cols="12" md="4">
                          <img
                            src="@/assets/images/features/2/img1.jpg"
                            class="img-fluid rounded"
                            alt="feature2"
                          />
                        </v-col>
                        <v-col
                          cols="12"
                          md="8"
                          class="px-md-0 d-flex align-center"
                        >
                          <h4 class="font-weight-medium font-18">
                            Contract Negotiations
                          </h4>
                        </v-col>
                      </v-row>
                    </div>
                  </v-card-text>
                </v-col>
                <v-col cols="12" md="4" class="py-0">
                  <v-btn
                    block
                    depressed
                    color="info"
                    class="linking feature2-action-btn"
                  >
                    Let's Talk <i class="mdi mdi-arrow-right"></i>
                  </v-btn>
                </v-col>
              </v-row>
            </v-card>
          </v-col>
          <v-col cols="12" lg="6" class="mb-15">
            <v-card elevation="0">
              <v-row>
                <v-col cols="12" md="8" class="py-0">
                  <v-card-text>
                    <div class="d-flex align-center">
                      <v-row>
                        <v-col cols="12" md="4">
                          <img
                            src="@/assets/images/features/2/img2.jpg"
                            class="img-fluid rounded"
                            alt="feature2"
                          />
                        </v-col>
                        <v-col
                          cols="12"
                          md="8"
                          class="px-md-0 d-flex align-center"
                        >
                          <h4 class="font-weight-medium font-18">
                            Marketing and brand Development
                          </h4>
                        </v-col>
                      </v-row>
                    </div>
                  </v-card-text>
                </v-col>
                <v-col cols="12" md="4" class="py-0">
                  <v-btn
                    block
                    depressed
                    color="info"
                    class="linking feature2-action-btn"
                  >
                    Let's Talk <i class="mdi mdi-arrow-right"></i>
                  </v-btn>
                </v-col>
              </v-row>
            </v-card>
          </v-col>
          <v-col cols="12" lg="6" class="mb-15">
            <v-card elevation="0">
              <v-row>
                <v-col cols="12" md="8" class="py-0">
                  <v-card-text>
                    <div class="d-flex align-center">
                      <v-row>
                        <v-col cols="12" md="4">
                          <img
                            src="@/assets/images/features/2/img3.jpg"
                            class="img-fluid rounded"
                            alt="feature2"
                          />
                        </v-col>
                        <v-col
                          cols="12"
                          md="8"
                          class="px-md-0 d-flex align-center"
                        >
                          <h4 class="font-weight-medium font-18">
                           Mentorship 
                          </h4>
                        </v-col>
                      </v-row>
                    </div>
                  </v-card-text>
                </v-col>
                <v-col cols="12" md="4" class="py-0">
                  <v-btn
                    block
                    depressed
                    color="info"
                    class="linking feature2-action-btn"
                  >
                    Let's Talk <i class="mdi mdi-arrow-right"></i>
                  </v-btn>
                </v-col>
              </v-row>
            </v-card>
          </v-col>
          <v-col cols="12" lg="6" class="mb-15">
            <v-card elevation="0">
              <v-row>
                <v-col cols="12" md="8" class="py-0">
                  <v-card-text>
                    <div class="d-flex align-center">
                      <v-row>
                        <v-col cols="12" md="4">
                          <img
                            src="@/assets/images/features/2/img4.jpg"
                            class="img-fluid rounded"
                            alt="feature2"
                          />
                        </v-col>
                        <v-col
                          cols="12"
                          md="8"
                          class="px-md-0 d-flex align-center"
                        >
                          <h4 class="font-weight-medium font-18">
                           Financial and legal services 
                          </h4>
                        </v-col>
                      </v-row>
                    </div>
                  </v-card-text>
                </v-col>
                <v-col cols="12" md="4" class="py-0">
                  <v-btn
                    block
                    depressed
                    color="info"
                    class="linking feature2-action-btn"
                  >
                    Let's Talk <i class="mdi mdi-arrow-right"></i>
                  </v-btn>
                </v-col>
              </v-row>
            </v-card>
          </v-col>
          <v-col cols="12" lg="6" class="mb-15">
            <v-card elevation="0">
              <v-row>
                <v-col cols="12" md="8" class="py-0">
                  <v-card-text>
                    <div class="d-flex align-center">
                      <v-row>
                        <v-col cols="12" md="4">
                          <img
                            src="@/assets/images/features/2/img4.jpg"
                            class="img-fluid rounded"
                            alt="feature2"
                          />
                        </v-col>
                        <v-col
                          cols="12"
                          md="8"
                          class="px-md-0 d-flex align-center"
                        >
                          <h4 class="font-weight-medium font-18">
                           Post career Services 
                          </h4>
                        </v-col>
                      </v-row>
                    </div>
                  </v-card-text>
                </v-col>
                <v-col cols="12" md="4" class="py-0">
                  <v-btn
                    block
                    depressed
                    color="info"
                    class="linking feature2-action-btn"
                  >
                    Let's Talk <i class="mdi mdi-arrow-right"></i>
                  </v-btn>
                </v-col>
              </v-row>
            </v-card>
          </v-col>
          <v-col cols="12" lg="6" class="mb-15">
            <v-card elevation="0">
              <v-row>
                <v-col cols="12" md="8" class="py-0">
                  <v-card-text>
                    <div class="d-flex align-center">
                      <v-row>
                        <v-col cols="12" md="4">
                          <img
                            src="@/assets/images/features/2/img4.jpg"
                            class="img-fluid rounded"
                            alt="feature2"
                          />
                        </v-col>
                        <v-col
                          cols="12"
                          md="8"
                          class="px-md-0 d-flex align-center"
                        >
                          <h4 class="font-weight-medium font-18">
                           Teams
                          </h4>
                        </v-col>
                      </v-row>
                    </div>
                  </v-card-text>
                </v-col>
                <v-col cols="12" md="4" class="py-0">
                  <v-btn
                    block
                    depressed
                    color="info"
                    class="linking feature2-action-btn"
                  >
                    Let's Talk <i class="mdi mdi-arrow-right"></i>
                  </v-btn>
                </v-col>
              </v-row>
            </v-card>
          </v-col>
        </v-row>

        <!-- -----------------------------------------------
            End Feature 2
        ----------------------------------------------- -->
      </v-container>
    </div>
  </div>
</template>
<script>
export default {
  name: "Feature2",
  data() {
    return {};
  },
  methods: {},
};
</script>
